node_modules/
.playwright-chrome-data/
.playwright-render-profile/
*.log
screenshot*.png
dropdown_open.png
subnav.png
exhaustive_subnav.png
ou_visible.png
test_scrape.js
screenshot_scrape.js
robust_scrape.js
list_text.js
find_f5.js
list_testids.js
find_row.js
table_scraper.js
find_tabs.js
find_real_url.js
find_element.js
find_select.js
list_selects.js
list_options.js
list_links.js
find_f5_again.js
find_f5_final.js
check_url.js
debug_f5.js
find_f5_links.js
screenshot_dropdown.js
find_hidden_text.js
list_all_options.js
find_innings.js
search_source.js
find_hidden_f5.js
list_all_odds_links.js
click_all_arrows.js
find_svg_near_text.js
click_parent_of_game_odds.js
find_aria.js
find_next_data.js
dump_odds_config.js
dump_odds_tool.js
intercept_network.js
dump_json_data.js
exhaustive_screenshot.js
test_game_page.js
find_f5_on_game_page.js
click_subtitle.js
find_dropdown_on_game_page.js
click_f5_on_game_page.js
click_dropdown_selector.js
click_total_on_game_page.js
click_total_on_game_page_v2.js
find_market_items.js
click_ou_item.js
click_ou_item_final.js
list_market_items.js
screenshot_game_dropdown.js
click_all_potentials.js
debug_ou_menu.js
click_f5_then_total.js
list_tables.js
full_system.js
debug_ou_columns.js
find_ou_text.js
click_ou_select.js
list_all_selects.js
click_ou_correct_select.js
